:host {
  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;

    & li {
      list-style: none;
      background: gray;
      padding: 20px;
      text-align: center;
      border-radius: 6px;
    }
    & li:hover {
        background: red;
      }

  }
}